<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c8f">  <td>23/01/12 14:21:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGoogle.setUp()[pri:0, instance:util.TestGoogle@3cda1055]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@519821334</td>   <td></td> </tr>
<tr bgcolor="a18c8f">  <td>23/01/12 14:21:17</td>   <td>15252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestGoogle.tearDown()[pri:0, instance:util.TestGoogle@3cda1055]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@519821334</td>   <td></td> </tr>
<tr bgcolor="a18c8f">  <td>23/01/12 14:21:08</td>   <td>6335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGoogle.test()[pri:0, instance:util.TestGoogle@3cda1055]">test</td> 
  <td>main@519821334</td>   <td></td> </tr>
</table>
